@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');

body {
   margin: 0;
   background-color: black;
}
.App {
   width: 100%;
   height: 100%;
   margin: 0;
   /* background-color: black; */
   color: rgb(153, 153, 153);
   font-family: 'Josefin Slab', serif;
}
/* ======SHARED=========== */
/* +++IMAGE DETAIL++++ */
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
.image-detail-container {
   animation: 1s ease-out fadeIn;
}
.image-detail-container {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: black;
   z-index: 99;
}
.image-detail-box {
   width: 100%;
   height: 700px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}
.image-detail {
   height: min-content;
   width: min-content;
   margin: 0 auto;
}
.image-detail img {
  max-width: 900px;
  max-height: 600px;
}
.image-detail-box img {
   animation: 1s ease-in-out fadeIn;
}
.image-detail p {
   font-family: 'Josefin Slab', serif;
   font-style: italic;
   text-align: center;
   color: grey;
   font-size: 1em;
   min-width: 20em;
}
.arrow-box {
   font-size: 3em;
   font-weight: 100;
   color: rgb(172, 172, 172);
   margin: 0 1em;
   z-index: 999;
 }
.arrow-box.next {
   text-align: right;
}
.fa-1x {
   cursor: pointer;
   opacity: .2;
   transition: 1.2s;
}
.fa-1x:hover {
   opacity: .8;
}
.arrow-box.back {
   text-align: left;
}
.close-image-detail {
   height: 2em;
   position: absolute;
   top: 0;
   right: 2vw;
   font-size: 3em;
   color: white;
   opacity: .3;
   cursor: pointer;
   z-index: 999;
   transition: 1.2s;
}
.close-image-detail:hover {
   opacity: .7;
}
/* =+++++++++++++++++ */

/* .container {
   height: 100%;
} */
/* ======NAV=========== */
nav {
   width: 100%;
   display: flex;
   justify-content: space-between;
   
}
nav a {
   opacity: 1;
}
nav .active-link img{
   opacity: 1;
   /* border-bottom: .1px rgba(255, 0, 0, 0.219) solid; */
   border-bottom: .1px rgba(255, 255, 255, 0.219) dashed;

}
nav li {
   width: 4em;
   height: 3em;
   list-style: none;
   
}
nav img {
   height: 2em;
   opacity: .6;
   transition: .3s;
}
nav img:hover {
   opacity: 1;
   height: 2.1em;
}

/* ======HEADER=========== */
header h1 {
   height: 0;
   margin: 0;
   padding: 0;
   text-indent: -9999px;
}
#logo {
   height: 90px;
   display: block; 
   text-align: center;
}
#logo img {
   opacity: .7;
   transition: .6s;
   height: 100%;
   margin: 0 auto;
}

#logo img:hover {
   opacity: 1;
   height: 88px;
}
header .nav-container {
   width: 40%;
   margin: 0 auto;
}
header a {
   text-decoration: none;
   color: white;
}
/* ======HOME=========== */
.home {
   height: 100vh;
}
.home .banner {
   position: absolute;
   top: 25%;
   width: 99%;
   height: min-content;
   margin: 0;
   text-align: center;
}
.home .nav-container {
   width: 40%;
   text-align: center;
   margin: 0 auto;
}
/* ======PHOTO && PAINTINGS=========== */

.wrapper {
   height: min-content;
   width: 100%;
}
.wrapper {
   margin-top: 5em;
}
.wrapper p {
   width: 90%;
   font-size: 1.5em;
   margin: 0 auto;
   margin-bottom: 1em;
}
.gallery-img-container {
   height: 8em;
   padding: .4em;
}
.gallery-img-container.sq {
   width: 8em;
}
.gallery-img-container.vc {
   width: 8em;
}
.gallery-img-container.bk {
   height: 15em;
   margin: 0 auto;
}

.gallery-img-container img {
   height: 100%;
   opacity: .8;
   cursor: pointer;
   transition: .2s;
}
.gallery-img-container img:hover {
   opacity: 1;
}
.gallery {
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   margin-bottom: 5em;
}
.standard.gallery {
   justify-content: space-around;
}
.paintings.gallery {
   justify-content: space-around;
}
.gallery.book {
   margin-bottom: 10em;
}
/* ======= BIO ======== */
.bio p {
   font-size: 1.1em;
   margin: 2em 0;
}
.bio.wrapper {
   display: flex;
   width: 90%;
}
.bio ul li {
   font-size: 1.1em;
   list-style: none;
   padding: .2em;
}
.bio h2 {
   font-size: 1.2em;
}
.gallery.bio img {
   height: 4em;
}

